BODY
{
	font-family : Verdana,                                                                                                                       Tahoma,                                                                                                                       Arial,                                                                                                                       Helvetica,                                                                                                                       Sans-serif;
	font-size : 12pt;
	color : rgb(2,89,1);
	font-weight : normal;
	font-style : normal;
	background-color : rgb(228,228,228);
	background-image : url( "./new-2.jpg" )
}

A:active
{
	color : rgb(2,89,1)
}

A:link
{
	color : rgb(0,0,255)
}

UL
{
	color : rgb(0,51,51);
	font-style : italic
}

A:visited
{
	color : rgb(102,51,153)
}

.TextObject
{
	font-family : Verdana,                                                                                                                       Tahoma,                                                                                                                       Arial,                                                                                                                       Helvetica,                                                                                                                       Sans-serif;
	font-size : 12pt;
	color : rgb(2,89,1);
	font-weight : normal;
	font-style : normal;
	line-height : 14pt
}

H1
{
	font-family : Verdana,                                                                                                                       Tahoma,                                                                                                                       Arial,                                                                                                                       Helvetica,                                                                                                                       Sans-serif;
	font-size : 16pt;
	color : rgb(2,89,1);
	text-decoration : underline overline
}

H2
{
	font-family : Verdana,                                                                                                                       Tahoma,                                                                                                                       Arial,                                                                                                                       Helvetica,                                                                                                                       Sans-serif;
	font-size : 16pt;
	color : rgb(117,77,40);
	text-decoration : underline overline
}

P
{
	font-family : Verdana,                                                                                                                       Tahoma,                                                                                                                       Arial,                                                                                                                       Helvetica,                                                                                                                       Sans-serif;
	font-size : 12pt;
	color : rgb(2,89,1);
	font-weight : normal;
	font-style : normal;
	line-height : 16pt
}

H3
{
	font-family : Verdana,                                                                                                                       Tahoma,                                                                                                                       Arial,                                                                                                                       Helvetica,                                                                                                                       Sans-serif;
	font-size : 14pt;
	color : rgb(2,89,1);
	text-decoration : underline overline
}

OL
{
	color : rgb(2,89,1);
	font-size : 12pt
}

H4
{
	font-family : Verdana,                                                                                                                       Tahoma,                                                                                                                       Arial,                                                                                                                       Helvetica,                                                                                                                       Sans-serif;
	font-size : 14pt;
	color : rgb(117,77,40);
	text-decoration : underline overline
}

.TextNavBar
{
	font-family : Verdana,                                                                                                                       Tahoma,                                                                                                                       Arial,                                                                                                                       Helvetica,                                                                                                                       Sans-serif;
	font-size : 14pt;
	color : rgb(100,147,102);
	font-weight : normal;
	font-style : normal;
	line-height : 20pt;
	text-align : center
}

H5
{
	font-family : Verdana,                                                                                                                       Tahoma,                                                                                                                       Arial,                                                                                                                       Helvetica,                                                                                                                       Sans-serif;
	font-size : 12pt;
	color : rgb(2,89,1);
	text-decoration : underline overline
}

H6
{
	font-family : Verdana,                                                                                                                       Tahoma,                                                                                                                       Arial,                                                                                                                       Helvetica,                                                                                                                       Sans-serif;
	font-size : 12pt;
	color : rgb(2,89,1);
	text-decoration : underline overline
}

.nof_FunnyGreenBanners2-Default
{
	font-family : verdana;
	font-size : 22;
	font-weight : 700;
	font-style : normal;
	color : #fffffa
}

.nof_FunnyGreenNavbar4-Regular
{
	font-family : verdana;
	font-size : 10;
	font-weight : 700;
	font-style : normal;
	color : #003333
}

.nof_FunnyGreenNavbar5-Rollover
{
	font-family : verdana;
	font-size : 10;
	font-weight : 700;
	font-style : normal;
	color : #003333
}

.nof_FunnyGreenNavbar6-Highlighted
{
	font-family : verdana;
	font-size : 10;
	font-weight : 700;
	font-style : normal;
	color : #454545
}

.nof_FunnyGreenNavbar7-HighlightedRollover
{
	font-family : verdana;
	font-size : 10;
	font-weight : 700;
	font-style : normal;
	color : #fffffa
}

.nof_FunnyGreenNavbar9-Regular
{
	font-family : verdana;
	font-size : 10;
	font-weight : 700;
	font-style : normal;
	color : #fffffa
}

.nof_FunnyGreenNavbar10-Rollover
{
	font-family : verdana;
	font-size : 10;
	font-weight : 700;
	font-style : normal;
	color : #183a72
}

.nof_FunnyGreenNavbar11-Highlighted
{
	font-family : verdana;
	font-size : 10;
	font-weight : 700;
	font-style : normal;
	color : #454545
}

.nof_FunnyGreenNavbar12-HighlightedRollover
{
	font-family : verdana;
	font-size : 10;
	font-weight : 700;
	font-style : normal;
	color : #183a72
}

.nof_FunnyGreenTableStyles19-row1cell1
{
	font-size : medium;
	color : rgb(0,0,0);
	font-weight : bold;
	background-color : rgb(255,255,255)
}

.nof_FunnyGreenTableStyles19-row2cell1
{
	color : rgb(255,255,255);
	font-weight : bold;
	background-color : rgb(0,0,0)
}

.nof_FunnyGreenTableStyles19-row3cell1
{
	color : rgb(0,0,0);
	background-color : rgb(255,255,255)
}

textarea
{
	width : 250px;
	font-size : 13px;
	font-family : Arial
}

.nof_formsHandler_label
{
	display : block;
	white-space : nowrap;
	text-align : right;
	padding-left : 5px;
	cursor : pointer
}

.nof_formsHandler_input_button
{
	margin-right : 5px
}

.nof_formsHandler_input_reset
{
	margin-right : 5px
}

.nof_formsHandler_input_submit
{
	margin-right : 5px
}

.nof_formsHandler_errorText
{
	color : rgb(255,0,0)
}

.nof_formsHandler_input_text
{
	width : 250px
}

.nof_formsHandler_input_password
{
	width : 250px
}

.nof_formsHandler_listBox
{
	width : 250px
}

.nof_formsHandler_select
{
	width : 250px
}

.nof_formsHandler_input_file
{
	width : 250px
}

.nof_formsHandler_successText
{
	font-weight : bold;
	width : 100%;
	display : block;
	text-align : center;
	background-color : rgb(255,204,0);
	padding : 3px
}

.nof_formsHandler_text
{
	font-family : Arial;
	font-size : 13px
}

.nof_formsHandler_link
{
	font-size : 13px;
	font-weight : bold;
	text-decoration : none
}

.nof_formsHandler_header
{
	background-color : #86C29D;
	border : 2px solid #7CAA7F;
	padding : 5px
}

.nof_formsHandler_footer
{
	background-color : #86C29D;
	border : 2px solid #7CAA7F;
	padding : 2px
}

.nof_formsHandler_contentCell
{
	padding : 2px
}

.nof_formsHandler_columnHeadingRow
{
	background-color : rgb(211,208,208);
	padding : 3px;
	font-weight : bold
}

.nof_formsHandler_textarea
{
	width : 250px;
	font-size : 13px;
	font-family : Arial
}

.nof_formsHandler_heading
{
	font-weight : bold;
	color : #376046;
	font-size : 14px
}

.nof_formsHandler_content
{
	background-color : rgb(237,237,237);
	padding : 2px;
	border-left : 2px solid #7CAA7F;
	border-right : 2px solid #7CAA7F
}

.nof_emailPage_label
{
	display : block;
	white-space : nowrap;
	text-align : right;
	padding-left : 5px;
	cursor : pointer
}

.nof_emailPage_input_button
{
	margin-right : 5px
}

.nof_emailPage_input_reset
{
	margin-right : 5px
}

.nof_emailPage_input_submit
{
	margin-right : 5px
}

.nof_emailPage_input_text
{
	width : 250px
}

.nof_emailPage_input_password
{
	width : 250px
}

.nof_emailPage_listBox
{
	width : 250px
}

.nof_emailPage_select
{
	width : 250px
}

.nof_emailPage_input_file
{
	width : 250px
}

.nof_emailPage_errorText
{
	color : rgb(255,0,0)
}

.nof_emailPage_text
{
	font-family : Arial;
	font-size : 13px
}

.nof_emailPage_link
{
	font-size : 13px;
	font-weight : bold;
	text-decoration : none
}

.nof_emailPage_header
{
	background-color : #86C29D;
	border : 2px solid #7CAA7F;
	padding : 5px
}

.nof_emailPage_footer
{
	background-color : #86C29D;
	border : 2px solid #7CAA7F;
	padding : 2px
}

.nof_emailPage_contentCell
{
	padding : 2px
}

.nof_emailPage_columnHeadingRow
{
	background-color : rgb(211,208,208);
	padding : 3px;
	font-weight : bold
}

.nof_emailPage_textarea
{
	width : 250px;
	font-size : 13px;
	font-family : Arial
}

.nof_emailPage_heading
{
	font-weight : bold;
	color : #376046;
	font-size : 14px
}

.nof_emailPage_content
{
	background-color : rgb(237,237,237);
	padding : 2px;
	border-left : 2px solid #7CAA7F;
	border-right : 2px solid #7CAA7F
}

.nof_secureSite_label
{
	display : block;
	white-space : nowrap;
	text-align : right;
	padding-left : 5px;
	cursor : pointer
}

.nof_secureSite_input_button
{
	margin-right : 5px
}

.nof_secureSite_input_reset
{
	margin-right : 5px
}

.nof_secureSite_input_submit
{
	margin-right : 5px
}

.nof_secureSite_input_text
{
	width : 250px
}

.nof_secureSite_input_password
{
	width : 250px
}

.nof_secureSite_errorText
{
	color : rgb(255,0,0)
}

.nof_secureSite_successText
{
	font-weight : bold;
	width : 100%;
	display : block;
	text-align : center;
	background-color : rgb(255,204,0);
	padding : 3px
}

.nof_secureSite_text
{
	font-family : Arial;
	font-size : 13px
}

.nof_secureSite_link
{
	font-size : 13px;
	font-weight : bold;
	text-decoration : none
}

.nof_secureSite_header
{
	background-color : #86C29D;
	border : 2px solid #7CAA7F;
	padding : 5px
}

.nof_secureSite_footer
{
	background-color : #86C29D;
	border : 2px solid #7CAA7F;
	padding : 2px
}

.nof_secureSite_contentCell
{
	padding : 2px
}

.nof_secureSite_columnHeadingRow
{
	background-color : rgb(211,208,208);
	padding : 3px;
	font-weight : bold
}

.nof_secureSite_heading
{
	font-weight : bold;
	color : #376046;
	font-size : 14px
}

.nof_secureSite_content
{
	background-color : rgb(237,237,237);
	padding : 2px;
	border-left : 2px solid #7CAA7F;
	border-right : 2px solid #7CAA7F
}

.nof_news_label
{
	display : block;
	white-space : nowrap;
	text-align : right;
	padding-left : 5px;
	cursor : pointer
}

.nof_news_input_button
{
	margin-right : 5px
}

.nof_news_input_reset
{
	margin-right : 5px
}

.nof_news_input_submit
{
	margin-right : 5px
}

.nof_news_input_text
{
	width : 250px
}

.nof_news_input_password
{
	width : 250px
}

.nof_news_select
{
	width : 250px
}

.nof_news_input_file
{
	width : 250px
}

.nof_news_errorText
{
	color : rgb(255,0,0)
}

.nof_news_text
{
	font-family : Arial;
	font-size : 13px
}

.nof_news_link
{
	font-size : 13px;
	font-weight : bold;
	text-decoration : none
}

.nof_news_header
{
	background-color : #86C29D;
	border : 2px solid #7CAA7F;
	padding : 5px
}

.nof_news_footer
{
	background-color : #86C29D;
	border : 2px solid #7CAA7F;
	padding : 2px
}

.nof_news_contentCell
{
	padding : 2px
}

.nof_news_columnHeadingRow
{
	background-color : rgb(211,208,208);
	padding : 3px;
	font-weight : bold
}

.nof_news_textarea
{
	width : 250px;
	font-size : 13px;
	font-family : Arial
}

.nof_news_heading
{
	font-weight : bold;
	color : #376046;
	font-size : 14px
}

.nof_news_content
{
	background-color : rgb(237,237,237);
	padding : 2px;
	border-left : 2px solid #7CAA7F;
	border-right : 2px solid #7CAA7F
}

.nof_news_author
{
	font-style : italic
}

.nof_news_date
{
	font-weight : bold;
	color : rgb(153,153,153)
}

.nof_news_title
{
	font-size : 16px;
	font-weight : bold;
	margin : 0px
}

.nof_news_message
{
	margin : 0px
}

.nof_news_maxPicSize
{
	font-size : 10px;
	padding-left : 5px;
	white-space : nowrap
}

.nof_faq_label
{
	display : block;
	white-space : nowrap;
	text-align : right;
	padding-left : 5px;
	cursor : pointer
}

.nof_faq_input_button
{
	margin-right : 5px
}

.nof_faq_input_reset
{
	margin-right : 5px
}

.nof_faq_input_submit
{
	margin-right : 5px
}

.nof_faq_select
{
	margin-right : 5px;
	width : 250px
}

.nof_faq_input_text
{
	width : 250px
}

.nof_faq_input_password
{
	width : 250px
}

.nof_faq_text
{
	font-family : Arial;
	font-size : 13px
}

.nof_faq_link
{
	font-size : 13px;
	font-weight : bold;
	text-decoration : none
}

.nof_faq_header
{
	background-color : #86C29D;
	border : 2px solid #7CAA7F;
	padding : 5px
}

.nof_faq_footer
{
	background-color : #86C29D;
	border : 2px solid #7CAA7F;
	padding : 2px
}

.nof_faq_contentCell
{
	padding : 2px
}

.nof_faq_columnHeadingRow
{
	background-color : rgb(211,208,208);
	padding : 3px;
	font-weight : bold
}

.nof_faq_textarea
{
	width : 250px;
	font-size : 13px;
	font-family : Arial
}

.nof_faq_heading
{
	font-weight : bold;
	color : #376046;
	font-size : 14px
}

.nof_faq_content
{
	background-color : rgb(237,237,237);
	padding : 2px;
	border-left : 2px solid #7CAA7F;
	border-right : 2px solid #7CAA7F
}

.nof_faq_categoryBlock
{
	padding-top : 5px;
	padding-bottom : 5px
}

.nof_faq_category
{
	font-size : 14px
}

.nof_faq_question
{
	font-size : 16px;
	font-weight : bold
}

.nof_guestbook_label
{
	display : block;
	white-space : nowrap;
	text-align : right;
	padding-left : 5px;
	cursor : pointer
}

.nof_guestbook_input_button
{
	margin-right : 5px
}

.nof_guestbook_input_reset
{
	margin-right : 5px
}

.nof_guestbook_input_submit
{
	margin-right : 5px
}

.nof_guestbook_input_text
{
	width : 250px
}

.nof_guestbook_input_password
{
	width : 250px
}

.nof_guestbook_text
{
	font-family : Arial;
	font-size : 13px
}

.nof_guestbook_link
{
	font-size : 13px;
	font-weight : bold;
	text-decoration : none
}

.nof_guestbook_header
{
	background-color : #86C29D;
	border : 2px solid #7CAA7F;
	padding : 5px
}

.nof_guestbook_footer
{
	background-color : #86C29D;
	border : 2px solid #7CAA7F;
	padding : 2px
}

.nof_guestbook_contentCell
{
	padding : 2px
}

.nof_guestbook_columnHeadingRow
{
	background-color : rgb(211,208,208);
	padding : 3px;
	font-weight : bold
}

.nof_guestbook_textarea
{
	width : 250px;
	font-size : 13px;
	font-family : Arial
}

.nof_guestbook_heading
{
	font-weight : bold;
	color : #376046;
	font-size : 14px
}

.nof_guestbook_content
{
	background-color : rgb(237,237,237);
	padding : 2px;
	border-left : 2px solid #7CAA7F;
	border-right : 2px solid #7CAA7F
}

.nof_guestbook_required
{
	color : rgb(255,0,0)
}

.nof_guestbook_textLabel
{
	font-weight : bold
}

.nof_guestbook_formInstructions
{
	font-size : 10px
}

.nof_testimonials_label
{
	display : block;
	white-space : nowrap;
	text-align : right;
	padding-left : 5px;
	cursor : pointer
}

.nof_testimonials_input_button
{
	margin-right : 5px
}

.nof_testimonials_input_reset
{
	margin-right : 5px
}

.nof_testimonials_input_submit
{
	margin-right : 5px
}

.nof_testimonials_input_text
{
	width : 250px
}

.nof_testimonials_input_password
{
	width : 250px
}

.nof_testimonials_input_file
{
	width : 250px
}

.nof_testimonials_text
{
	font-family : Arial;
	font-size : 13px
}

.nof_testimonials_link
{
	font-size : 13px;
	font-weight : bold;
	text-decoration : none
}

.nof_testimonials_header
{
	background-color : #86C29D;
	border : 2px solid #7CAA7F;
	padding : 5px
}

.nof_testimonials_footer
{
	background-color : #86C29D;
	border : 2px solid #7CAA7F;
	padding : 2px
}

.nof_testimonials_contentCell
{
	padding : 2px
}

.nof_testimonials_columnHeadingRow
{
	background-color : rgb(211,208,208);
	padding : 3px;
	font-weight : bold
}

.nof_testimonials_textarea
{
	width : 250px;
	font-size : 13px;
	font-family : Arial
}

.nof_testimonials_heading
{
	font-weight : bold;
	color : #376046;
	font-size : 14px
}

.nof_testimonials_content
{
	background-color : rgb(237,237,237);
	padding : 2px;
	border-left : 2px solid #7CAA7F;
	border-right : 2px solid #7CAA7F
}

.nof_testimonials_maxPicSize
{
	font-size : 10px;
	padding-left : 5px;
	white-space : nowrap
}

.nof_testimonials_author
{
	white-space : nowrap;
	font-style : italic;
	margin-right : 5px
}

.nof_testimonials_testimonial
{
	font-weight : bold;
	font-size : 16px;
	margin : 0px
}

.nof_testimonials_date
{
	font-weight : bold;
	color : rgb(153,153,153)
}

.nof_testimonials_description
{
	margin : 0px
}

.nof_testimonials_required
{
	color : rgb(255,0,0)
}

.nof_testimonials_successText
{
	font-weight : bold;
	width : 100%;
	display : block;
	text-align : center;
	background-color : rgb(255,204,0);
	padding : 3px
}





LI {
	color: rgb(2,89,1)
}.nof_FunnyGreenNavbar21-Regular {
font-family:verdana; font-size:10; font-weight:700; font-style:normal; color:#fffffa 
}

.nof_FunnyGreenNavbar21-Rollover {
font-family:verdana; font-size:10; font-weight:700; font-style:normal; color:#183a72 
}

.nof_FunnyGreenNavbar21-Highlighted {
font-family:verdana; font-size:10; font-weight:700; font-style:normal; color:#454545 
}

.nof_FunnyGreenNavbar21-HighlightedRollover {
font-family:verdana; font-size:10; font-weight:700; font-style:normal; color:#183a72 
}
A:hover
{
	color : rgb(255,255,255);
	text-decoration : none;
	background-color : rgb(69,69,69)
}







