/* CSS definition file containing site wide stylesheets */

.Subheads {
	font-family: "Arial Black",  "Helvetica Bold",  Charcoal,  Sans-serif;
 	font-size: x-small
}

.Quotes {
	font-family: "Times New Roman",  Times,  Serif;
 	font-size: medium;
 	font-style: italic
}

.Footnotes {
	font-family: Arial, Helvetica, Geneva, Sans-serif;
 	font-size: x-small
}

.Caption {
	font-family: Arial, Helvetica, Geneva, Sans-serif;
 	font-size: x-small;
 	font-style: italic
}

.Code {
	font-family: "Courier New",  "Lucida Console",  Courier,  Monaco,  Monospace;
 	color: rgb(0,0,0)
}

.Credits {
	font-family: "Times New Roman",  Times,  Serif;
 	font-size: x-small;
 	font-weight: bold;
 	text-align: center
}